* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(https://images.pexels.com/photos/255464/pexels-photo-255464.jpeg?cs=srgb&dl=pexels-pixabay-255464.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}
.Container h1 {
    text-align: center;
    margin-bottom: 20px;

}
.Container {
    width: 750px;
    background: purple;
    color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    background: transparent;
    backdrop-filter: blur(40px);
    
}
.Container .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box .field {
    width: 49%;
    position: relative;
    margin: 10px 0;
    height: 40px;
}
.box .field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 2);
    outline: none;
    color: #fff;
    font-size: 13px;
    border-radius: 10px;
    padding: 15px 15px 15px 35px;
}
.box .field input::placeholder {
    color: #fff;
}
.box .field i {
    position: absolute;
    top: 35%;
    left: 9px;
}
.Container .btn {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.Container label {
    display: inline-block;
    font-size:15px;
    margin: 10px 0 20px;
}
.Container label input {
    accent-color: #fff;
}

